* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu i,
.icons i {
  font-size: 20px;
  cursor: wait ;
  margin-left: 15px;
}
.icons{
  display: flex;
  gap: 10px;
}

/* BREADCRUMB */
.breadcrumb {
  padding: 15px 20px;
  font-size: 14px;
  color: #666;
}

/* PAGE TITLE */
.page-title {
  padding: 10px 20px;
  background: #fff;
}

.page-title h1 {
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
}

/* FILTER & SORT */
.filter-sort {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

/* PRODUCT GRID */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* PRODUCT CARD */
.product-card {
  background: #fff;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 50%;
  display: block;
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: crimson;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}

/* PRODUCT INFO */
.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 14px;
  margin-bottom: 8px;
}

.collection {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  width: 70%;
}




button:hover {
  background: #444;
}



/* FOOTER */
.footer {
  background-color: #111;
  color: white;
  padding: 50px 40px 20px;
  margin-top: 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer-column h3 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-column p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #ccc;
  cursor: pointer;
}

.footer-column p:hover {
  color: white;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

.social-icons i:hover {
  color: gray;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
}